

<section>
        <article class= "article"><h2> <%= article.titre %></h2>  
    <a href = "/article/:id<%= article.id %>">
         <img class = "article_img" src="/upload/<%= img_url %>" alt = "Image de l'article"/>
          </a>
        <p class="texte-article"><%-contenu%></p>
        </article>
</section>

<section class="comment_article">
	
	<ul>
		<%for(let i = 0; i < comments.length; i++) {%>
			<li>
				<h3><%=comments[i].prenom%> <%=comments[i].nom%></h3>
				<p><%=comments[i].contenu%></p>
				<p class="date-comment"><%=new Date(comments[i].datePublication).toLocaleDateString()%></p>
			</li>
		<%}%>
	</ul>

</section>
<% if(session.User){%>
	<form action="/add_comment/<%=article.id%>" method="post" class = "form-article">
	
		<p><label>Commentaire</label></p>
		<p><textarea class="comm" name="content"></textarea></p>
		<input class= "button" type="submit" name="Enregistrer">
	
	</form>
<%}%>

