<body class="imgFond2">

<h1>Astuces, conseils, meilleurs endroits à visiter</h1>

<section>
    <% for (let i = 0; i < post.length; i++){ %>
    <% if (isAdmin){ %>
    <div class= "block">
        <button><a href="/add_post">Ajoutez un article </a></button>
        <button><a  href="/edit_post/<%= post[i].id %>"> Modifier l'article </a></button>
        <button class="js-remove-post-button" data-url="/delete_post/<%= post[i].id %>"> Supprimer l'article </button>
   <% } %>
  
    
        <article class="card">
            <a href = "/article/<%= post[i].id %>">
                <img src="/upload/<%=post[i].url_image %>" alt = "Image de l'article"/>
            </a>
            <div class="card-body">
                <h2> <%= post[i].titre %></h2>              
            </div>
        </article>
    <% } %>
    </div>
</section>
</body> 

