<h1> Astuces, conseils, meilleurs endroits à visiter</h1>

<section>
    <% for (let i = 0; i < post.length; i++){ %>
    <% if (isAdmin){ %>
        <a href="/add_post">Ajoutez un article</a>
<a href="/edit_post" class="js-post-edit-form" data-id="<%= post[i].id %>"> Modifier l'article </a>
         <button class="js-remove-post-button" data-id ="<%= post[i].id %>" /> Supprimer l'article </button>
   <% } %>
  
        <article class= "article"><h2> <%= post[i].titre %></h2>    
    <a href = "/article/<%= post[i].id %>"/>
        <img class = "article_img" src="<%=post[i].contenu.split('\n')[0] %>" alt = "Image de l'article"/>
    </a>
       <p><%= post[i].id %></p>
        </article>
    <% } %>
</section>

